<!DOCTYPE html>
<html>
    <head>
        <title>Zelos - Personal Bests</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Trochut:700" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="/stylesheets/style.css" rel="stylesheet">
        <link rel="shortcut icon" sizes="196x196" href="/images/favicon-196x196.png">
        <link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-152x152.png">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap.min.js"></script>
        <script src="//code.angularjs.org/1.5.7/angular-animate.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
        <script src="/javascripts/angularApp.js"></script>
        <style> .glyphicon-trash { cursor:pointer }</style>
        
        
    </head>
    <body ng-app="personalBest">
        <div class="container-fluid">
                <nav class="navbar navbar-custom navbar-fixed-top" ng-controller="NavCtrl as nav">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                </button>
                            <img class="navbar-brand" src="/images/favicon-32x32.png"></img><a class="navbar-brand" href="/#/home">ZELOS</a>
                        </div>
                        
                        <div class="collapse navbar-collapse" id="navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li ng-show="nav.isLoggedIn()"><a href="/#/profile/{{nav.currentUser()}}">{{nav.me}}</a></li>
                                <li><a href="/#/home">Home</a></li>
                                <li ng-show="nav.isLoggedIn()"><a href="" ng-click="nav.logOut()">Log Out</a></li>
                                <li ng-hide="nav.isLoggedIn()"><a href="/#/login">Log In</a></li>
                                <li ng-hide="nav.isLoggedIn()"><a href="/#/register">Create Account</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2" ui-view="recordslist"></div>
            <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2" ui-view></div>
            <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2" ui-view="profileMain"></div>
            </div>
            </div>
            </div>
        </div>
            
        
        
        
    </body>
    
</html>