        <div class="container-fluid">
            <div class="row">
            <div class="col-md-6 col-md-push-6 well well-sm text-center">
                <h4>Record, Compare, Compete</h4>
                <p>To add your new PB or view all of your records, go to <a ng-href="/#/profile/{{main.username}}">Your Profile</a>!</p>
                <p>To view someone else's profile, search for their name in the box below.</p>
                <div class="form-inline">
                    <div class="form-group">
                        <input type="text" ng-model="main.selected" uib-typeahead="user as user.fullName for user in main.users | filter:{fullName: $viewValue} | limitTo:8" typeahead-editable="false" class="form-control">
                    </div>
                    
                    
                    <a class="btn btn-default hidden-xs" href="/#/profile/{{main.selected.username}}">Go</a>
                    <a class="btn btn-default btn-block visible-xs" href="/#/profile/{{main.selected.username}}">Go</a>
                    <div ng-if="noResults">
                      <span><i class="glyphicon glyphicon-remove"></i> No Results Found</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-6 form-group">
                <p>Select A Lift:</p>
                <select class="form-control" ng-model="main.query" ng-options="lift.name as lift.name for lift in main.liftList | orderBy: 'name'">
                    <option value="">All</option>
                </select>
            </div>
        </div>
        
        <div><h3>Latest PBs</h3>
       
        <table class="table table-striped">
        <th class="col-xs-4">Lift</th>
        <th class="col-xs-2 text-center">Weight</th>
        <th class="col-xs-4 text-center">By</th>
        <th class="col-xs-2 text-center">On</th>
        <tr ng-repeat="lift in main.lifts | filter: (!!main.query || undefined) && main.query : true | orderBy: 'date':true | limitTo:5">
            <td>{{lift.title}}</td>
            <td class="text-center">{{lift.weight}} kg</td>
            <td class="text-center"><a ng-href="/#/profile/{{lift.author}}">{{lift.firstName}} {{lift.lastName}}</a></td>
            <td class="text-center">{{lift.date | date : mediumDate}}</td>
        </tr>
        
        </table>
        </div>
        </div>
