        <div class="container-fluid">
            <div class="row">
            <div class="col-sm-6 col-sm-push-6 well well-sm text-center">
                <h4>Record, Compare, Compete</h4>
                <p>To add your new PB or view all of your records, go to <a ng-href="/#/profile/{{main.username}}">Your Profile</a>!</p>
                <p>To view someone else's profile, search for their name in the box below.</p>
                <div class="form-inline">
                    <div class="form-group">
                        <!--<input type="text" placeholder="Find a Name" class="form-control">-->
                        <input type="text" ng-model="asyncSelected" placeholder="Locations loaded via $http" uib-typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResults">
                          <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>
                    <button type="button" class="btn btn-default hidden-xs">Go</button>
                    <button type="button" class="btn btn-default btn-block visible-xs">Go</button>
                </div>
            </div>
            <div class="col-sm-6 col-sm-pull-6 form-group">
                <p>Select A Lift:</p>
                <select class="form-control" ng-model="main.query" ng-options="lift.name as lift.name for lift in main.liftList | orderBy: 'name'">
                    <option value="">All</option>
                </select>
            </div>
        </div>
        
        <div><h3>Latest PBs</h3>
       
        <table class="table table-striped">
        <th class="col-xs-4">Lift</th>
        <th class="col-xs-2 text-center">Weight</th>
        <th class="col-xs-4 text-center">By</th>
        <th class="col-xs-2 text-center">On</th>
        <tr ng-repeat="lift in main.lifts | filter: (!!main.query || undefined) && main.query : true | orderBy: 'date':true | limitTo:5">
            <td>{{lift.title}}</td>
            <td class="text-center">{{lift.weight}} kg</td>
            <td class="text-center"><a ng-href="/#/profile/{{lift.author}}">{{lift.firstName}} {{lift.lastName}}</a></td>
            <td class="text-center">{{lift.date | date : mediumDate}}</td>
        </tr>
        
        </table>
        </div>
        </div>
