body {
  font: 14px Verdana, Geneva, sans-serif;
  background-color: #79c5ff;
  color: #003d6b;
  padding-top: 70px;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #a9daff;
 }

table {
    color: #003d6b;
}

a {
    color: #d97c00;
}

a:hover {
    color: #a75f00;
}

.navbar-brand {
    font-family: 'Trochut', cursive;
}

.navbar-custom {
    background-color: #004f8b;
    color: #003d6b;
    border-radius: 0;
    border-bottom: solid white 2px;
}

.navbar-custom .navbar-toggle {
    border: solid white 1px;
}

.navbar-custom .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-custom .navbar-nav > li > a {
    color: #a9daff;
}
.navbar-custom > .active > a > .active > a:hover > .active > a:focus {
    color: #bbc5ff;
}
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus { 
    text-decoration: underline;
    background-color: transparent; 
}
.navbar-custom .navbar-brand {
    color: #a9daff;
}

.sortorder:after {
  content: '\25b2'; 
}
.sortorder.reverse:after {
  content: '\25bc'; 
}
